<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <context:component-scan base-package="com.recruit.controller"/>
    <context:component-scan base-package="com.recruit.service"/>
    <mvc:annotation-driven></mvc:annotation-driven>

    <!--1.dataSource-->
    <bean id="dataSource"  class="org.apache.commons.dbcp.BasicDataSource">
        <!-- 数据驱动 -->
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <!-- 数据库的连接 -->
        <property name="url" value="jdbc:mysql://rm-uf6y70f8z4zrabhvro.mysql.rds.aliyuncs.com:3306/passport"/>
        <!-- 账号 -->
        <property name="username" value="root"/>
        <!-- 密码 -->
        <property name="password" value="1800438578Zz"/>
        <!-- 最大连接数 -->
        <property name="maxActive" value="40"/>
        <!-- 最大空闲数 -->
        <property name="maxIdle" value="5"/>
    </bean>

    <bean id="dataSources" class="com.recruit.controller.data.DynamicDataSource">
        <property name="targetDataSources">
            <map key-type="java.lang.String">
                <entry key="dataSource" value-ref="dataSource"/>

            </map>
        </property>
        <property name="defaultTargetDataSource" ref="dataSource"/>
    </bean>

    <!--2.sqlSessionFactory的配置  -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--<property name="dynamicDataSource" ref="dynamicDataSource"/>-->

    </bean>

    <!--3.mapper层的配置 -->
    <bean id="mapper" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 注入sqlSessionFactory -->
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
        <!-- mapper所在的包名 -->
        <property name="basePackage" value="com.recruit.dao"/>
    </bean>

    <!--4.事务  -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!-- 使用事务处理的连接池 -->
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--5. 事务处理使用注解 -->
    <!--<tx:annotation-driven transaction-manager="transactionManager"/>-->

</beans>