<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <context:component-scan base-package="com.recruit.controller"/>
    <context:component-scan base-package="com.recruit.service"/>
    <mvc:annotation-driven></mvc:annotation-driven>


    <bean id="dataSource" class="com.recruit.controller.data.DynamicDataSource">
        <property name="targetDataSources">
            <map></map>
        </property>
        <property name="defaultTargetDataSource" ref="ds2"/>
    </bean>

    <bean id="ds2" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url"
                  value="jdbc:mysql://rm-uf6y70f8z4zrabhvro.mysql.rds.aliyuncs.com:3306/beinuniao"></property>
        <property name="username" value="root"></property>
        <property name="password" value="1800438578Zz"></property>
    </bean>

    <!--2.sqlSessionFactory的配置  -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mapperLocations" value="classpath:com/recruit/dao/data/*.xml"/>
    </bean>

    <!--Mapper层配置-->
    <bean id="mapper" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 注入sqlSessionFactory -->
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
        <!-- mapper所在的包名 -->
        <property name="basePackage" value="com.recruit.dao"/>
    </bean>

    <!--spring与mybatis整合-->
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

    <!--4.事务
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
         使用事务处理的连接池
        <property name="dataSource" ref="dataSource"/>
    </bean>
    5. 事务处理使用注解
    <tx:annotation-driven transaction-manager="transactionManager"/>-->

</beans>